{% extends "base.html" %}

{% block main %}
  <h2 class="ui dividing header">Таблица</h2>
  <div class="ui stackable grid middle aligned" id="filter">
    <div class="row five column">
      <div class="column">
        <div class="ui selection dropdown fluid">
          <input type="hidden" value="C5GAME" class="first platform">
          <i class="dropdown icon"></i>
          <div class="text">platforms['C5GAME']['name']</div>
          <div class="menu">
            {% for name, platform in platforms.items() %}
              <div class="item{% if name == 'C5GAME' %} active selected{% endif %}" data-value="{{ name }}">{{ platform['name'] }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. цена" class="first min price">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. цена" class="first max price">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. разница" class="first min diff">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. разница" class="first max diff">
        </div>
      </div>
    </div>
    <div class="row five column">
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. продаж" class="first min volume">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. продаж" class="first max volume">
        </div>
      </div>
      <div class="column center aligned">
        <div class="ui checkbox">
          <input type="checkbox" class="first autobuy">
          <label>Автопокупка</label>
        </div>
      </div>
    </div>
    <div class="row five column">
      <div class="column">
        <div class="ui selection dropdown fluid">
          <input type="hidden" value="STEAM" class="second platform">
          <i class="dropdown icon"></i>
          <div class="text">platforms['STEAM']['name']</div>
          <div class="menu">
            {% for name, platform in platforms.items() %}
              <div class="item{% if name == 'STEAM' %} active selected{% endif %}" data-value="{{ name }}">{{ platform['name'] }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. цена" class="second min price">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. цена" class="second max price">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. разница" class="second min diff">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. разница" class="second max diff">
        </div>
      </div>
    </div>
    <div class="row five column">
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Мин. продаж" class="second min volume">
        </div>
      </div>
      <div class="column">
        <div class="ui input fluid">
          <input type="text" placeholder="Макс. продаж" class="second max volume">
        </div>
      </div>
      <div class="column center aligned">
        <div class="ui checkbox">
          <input type="checkbox" class="second autobuy">
          <label>Автопокупка</label>
        </div>
      </div>
    </div>
    <div class="row one column apply" style="display: none;">
      <div class="column">
        <button class="ui fluid basic button">Применить</button>
      </div>
    </div>
  </div>
  {% if g.user is not none and g.user.subscribed %}
  <div class="ui positive message">
    <div class="header">
      Подписка оформлена
    </div>
    <p>Теперь у вас есть доступ ко всем предметам :)</p>
  </div>
  {% else %}
  <div class="ui negative message">
    <div class="header">
      Подписка не оформлена
    </div>
    <p>Чтобы получить доступ к предметам стоимостью > 1$, нужно <a href="/account" style="color: inherit; text-decoration: underline;">оформить подписку</a> :(</p>
  </div>
  {% endif %}
  <table class="ui celled table center aligned" id="table" data-game="{{ game }}">
    <thead>
      <tr>
        <th>Название предмета</th>
        <th>Платформы</th>
        <th>Первая цена</th>
        <th>Вторая цена</th>
        <th>Первая разница</th>
        <th>Вторая разница</th>
      </tr>
    </thead>
  </table>
{% endblock %}